<div class="container-fluid" ng-app="manaflare">
  <div class="panel panel-success">
    <div class="panel-body" style="height: 900px">
      <card>
        This is a card, for real. Left click+drag to move, right click to tap/untap.
      </card>
    </div>
  </div>
</div>