<div id="status-sidebar"></div>
<div id="play-area">
  <div class="vbox">
    <div id="redzone"></div>
  </div>
</div>
<card>
    This is a card, for real. Left click+drag to move, double click to tap/untap.
</card>