<div id="status-sidebar"></div>
<div id="play-area" ng-controller="GameController">
  <div class="vbox">
    <div id="redzone"></div>
  </div>
  <span ng-repeat="active_card in active_cards">
	<card></card>
  </span>
</div>