<div class="card">
    <div class="card-inner">
        <div class="card-text-bar" id="top-text-bar">
        	<span class="card-text">{{::active_card.name}}</span>
        	<span class="card-text">{{::active_card.manaCost}}</span>
        </div>
        <div id="card-image">
            <image src="<%= asset_path('forest.png') %>"></image>
        </div>
        <div class="card-text-bar" id="type-text-bar">
        	<span class="card-text">{{::active_card.type}}</span>
        </div>
        <div id="text-box">
        	<span class="card-text">{{::active_card.text}}</span>
        </div>
    </div>
</div>