<div class="card">
    <div class="card-inner">
        <div class="card-text-bar" id="top-text-bar"></div>
        <div id="card-image">
            <image src="<%= asset_path('forest.png') %>"></image>
        </div>
        <div class="card-text-bar" id="type-text-bar"></div>
        <div id="text-box"></div>
    </div>
</div>